.header {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 245, 240, 0.9);
    padding: 10px 20px;
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #dcdcdc;
}

.headerMenu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.search, .exit {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin: 0;
    cursor: pointer;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    background: none;
    white-space: nowrap;
}

.search:hover, .exit:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}