/* Удалите все старые стили и оставьте только это */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #f3eee6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #000000;
  width: 100%;
}

#root {
  width: 100%;
}